.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-Panel {
  width: 20em;
  outline: 1px solid black;
}

.App-Content {
  flex: 1 1 0;
  outline: 1px solid black;
}
